In [4]:
import sqlalchemy as db 
from sqlalchemy import text 
import pandas as pd 
from pymongo import MongoClient

In [3]:
!pip install sqlalchemy
!pip install pyodbc
!pip install "pymongo[srv]"
!pip install mysqlclient

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: pyodbc in /usr/local/python/3.10.13/lib/python3.10/site-packages (5.1.0)
Requirement already satisfied: pymongo[srv] in /usr/local/python/3.10.13/lib/python3.10/site-packages (4.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pymongo[srv]) (2.6.1)
Requirement already satisfied: mysqlclient in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.4)

In [12]:
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/retail_db")  
conn = engine.connect() 
customer_df = pd.read_sql_query('SELECT * FROM customers',conn)
orders_df = pd.read_sql_query('SELECT * FROM orders',conn)
order_items_df =  pd.read_sql_query('SELECT * FROM order_items',conn)
products_df =  pd.read_sql_query('SELECT * FROM products',conn)
departments_df =  pd.read_sql_query('SELECT * FROM departments',conn)
categories_df =  pd.read_sql_query('SELECT * FROM categories',conn)

In [13]:
total = customer_df['customer_id'].nunique()
print(total)

12435

In [14]:
cl_x_estado = customer_df['customer_state'].value_counts()
print(cl_x_estado)

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
NM      73
CT      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

In [15]:
categorixdeoartamento = categories_df.groupby('category_department_id').count()
print(categorixdeoartamento)

                        category_id  category_name
category_department_id
2                                 8              8
3                                 8              8
4                                 6              6
5                                 7              7
6                                12             12
7                                 7              7
8                                10             10

In [19]:
distribucion_categoria_x_departan = categories_df.merge(departments_df, left_on='category_department_id', right_on='department_id')
dd =distribucion_categoria_x_departan['department_name'].value_counts()
print(dd)

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [20]:
products_df.columns

Index(['product_id', 'product_category_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [23]:
precio_mean = products_df['product_price'].mean()
f"El precio promedio es: {precio_mean:.3f}"

'El precio promedio es: 124.996'

In [31]:
# Para ver los nulos 

is_null = products_df['product_image'].isnull().sum()
not_null = products_df['product_image'].notnull().sum()

In [33]:
f'nulos : {is_null}'
f'nulos : {not_null}'

'nulos : 1345'

In [34]:
#total ordenes por estad
order_items_df.columns
orders_df.columns

Index(['order_id', 'order_date', 'order_customer_id', 'order_status'], dtype='object')

In [37]:
orden_X_estado = order_items_df.merge(orders_df, left_on='order_item_id', right_on='order_id')
orden_X_estado[['order_id','order_status']].groupby('order_status').count()

                 order_id
order_status
CANCELED             1428
CLOSED               7556
COMPLETE            22899
ON_HOLD              3798
PAYMENT_REVIEW        729
PENDING              7610
PENDING_PAYMENT     15030
PROCESSING           8275
SUSPECTED_FRAUD      1558

In [39]:
orden_X_estado = customer_df.merge(orders_df, left_on='customer_id', right_on='order_customer_id')
orden_X_estado  = orden_X_estado.groupby('customer_state')['order_id'].count()
orden_X_estado

customer_state
AL       13
AR       65
AZ     1156
CA    11051
CO      721
CT      403
DC      229
DE      109
FL     2089
GA      946
HI      478
IA       24
ID       67
IL     2884
IN      247
KS      159
KY      190
LA      369
MA      606
MD      905
MI     1428
MN      256
MO      516
MT       32
NC      803
ND       72
NJ     1259
NM      391
NV      540
NY     4331
OH     1575
OK       84
OR      646
PA     1458
PR    26510
RI       84
SC      238
TN      607
TX     3442
UT      357
VA      738
WA      380
WI      334
WV       91
Name: order_id, dtype: int64